body {
  background: #141414;
  color: #ffffff;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.movie-list {
  width: auto;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.image-container:hover .overlay {
  opacity: 1;
}

.favtxt {
  margin-right: 0.5rem;
}

@media all and (min-width:0px) and (max-width: 650px) {
  body {
    background: #141414;
    color: #ffffff;
    font-size: 1rem;
  }

  .image-container {
    max-width: 20rem;
    max-height: 25rem;
  }

  .overlay {
    font-size: 1rem;
    width: 94%;
  }
}